<script id="tmpl-CreateContact" type="text/html">
    <div class="CreateContact">
        <div class='CreateContactDialogGlass'/>
        <div class="CreateContact-content">
            <h2>Create Contact</h2>

            <div class="form form-horizontal">
                <div class="control-group ">
                    <label class="control-label">Full Name:</label>
                    <div class="controls">
                        <input type="text" name="fullName" placeholder=""><span class="help-inline"></span>
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label">Given Name:</label>
                    <div class="controls">
                        <input type="text" name="givenName" placeholder=""><span class="help-inline"></span>
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label">Family Name:</label>
                    <div class="controls">
                        <input type="text" name="familyName" placeholder=""><span class="help-inline"></span>
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label">Email:</label>
                    <div class="controls">
                        <input type="text" name="email" placeholder=""><span class="help-inline"></span>
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label">Phone:</label>
                    <div class="controls">
                        <input type="text" name="phone" placeholder=""><span class="help-inline"></span>
                    </div>
                </div>

                <div class="control-group ">
                    <label class="control-label">Birth Date:</label>
                    <div class="controls">
                        <input type="text" name="bir" placeholder=""><span class="help-inline"></span>
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label">Group:</label>
                    <div class="controls">
                        <input type="text" name="groupId" placeholder=""><span class="help-inline"></span>
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label">Note:</label>
                    <div class="controls">
                        <textarea rows="5" style="width:280px" name="note" placeholder="note hear"></textarea>
                    </div>
                </div>


                <div class="form-actions">
                    <a href="#" class="btn btn-primary createContactBtn">Create</a>
                    <a href="#" class="btn cancelBtn">Close</a>
                </div>
            </div>
        </div>
    </div>
</script>