<script id="tmpl-CreateGroup" type="text/html">
    <div class="CreateGroup">
		<div class='CreateGroupDialogGlass' />
	    <div class="CreateGroup-content">
	        <h2>Create Group</h2>
	        <div class="form">
		        <div class="control-group">
		  		Name:<input type="text"  name="name" placeholder=""><span class="help-inline" ></span>
		  		<br/>
		  		</div>
		  		<div>
		    		<a href="#" class="btn btn-primary createGroupBtn">Create</a>
		    		<a href="#" class="btn cancelBtn">Close</a>
		  		</div>
	        </div>
	    </div>
    </div>
</script>