<script id="tmpl-MainView" type="text/html">
<div class="MainView">
	<div class="MainView-header">
	<div class="navbar">
              <div class="navbar-inner">
                <ul class="nav">
                  <li ><a href="#" class="showEmails">Emails</a></li>
                  <li class="active"><a href="#" class="showRepositories">Repositories</a></li>
                  <li><a href="#" class="showOrganizations" >Organization</a></li>
                </ul>
              </div>
            </div>
  	</div>
	
  	<div class="MainView-content">
  	</div>
</div>
</script>